<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @backup_medium.name %>
</p>

<%= link_to 'Edit', edit_backup_medium_path(@backup_medium) %> |
<%= link_to 'Back', backup_media_path %>
